.Button {
  display: inline-block;
  margin: 0;
  padding: 10px 16px;
  border: none;
  border-radius: 14px;
  line-height: 20px;
  font-size: 18px;
  background-color: #2196f3;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-out;
  font-family: inherit;
}

.Button:focus {
  box-shadow: 0 0 8px 0 #1976d2;
}

.Button:hover {
  background-color: #1976d2;
}

.Button:active {
  background-color: #13589d;
}

.Button--expanded {
  width: 100%;
}

.Button--size-normal {
}

.Button--size-small {
  padding: 8px 12px;
  line-height: 16px;
  font-size: 14px;
}

.Button:disabled {
  background-color: #2196f3;
  opacity: 0.6;
  cursor: default;
}
