.ButtonIcon {
  display: inline-block;
  margin: 0;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.ButtonIcon:focus {
  box-shadow: 0 0 8px 0 #575757;
}

.ButtonIcon:hover {
  background-color: #e3e3e3;
}

.ButtonIcon:active {
  background-color: #ccc;
}

.ButtonIcon-Wrapper {
  display: inline-block;
  max-width: 22px;
  max-height: 22px;
}

.ButtonIcon--size-normal {
}

.ButtonIcon--size-small {
  padding: 6px;
}

.ButtonIcon--size-small .ButtonIcon-Wrapper {
  max-width: 18px;
}
