.CatalogProductCard {
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  position: relative;
}

.CatalogProductCard-grid {
  display: flex;
  box-sizing: border-box;
  margin: -16px;
  padding: 16px;
}

.CatalogProductCard-imageColumn {
  flex: 0 0 240px;
  padding: 16px;
  box-sizing: border-box;
}

.CatalogProductCard-contentColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
}

.CatalogProductCard-image {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.CatalogProductCard-title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.CatalogProductCard-amount {
  font-size: 24px;
  margin-bottom: 12px;
}

.CatalogProductCard-price {
  font-size: 24px;
}

.Product-closeButtton {
  position: absolute;
  right: 16px;
  top: 16px;
}

.Stub {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #e3e3e3;
}
